@import "../../../essentials/styles/variables";

.lineInput {
    border: 0;
    width: 100%;
    padding: 2px 0;
    outline: none;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;

    &.isActive {
        // border: 1px solid $border-color-highlight;
    }
}

.line {
    padding: 2px 0;
    margin: 0;
}

.lineInput {
    font-size: $line-font-size;
    color: black;
}

.line {
    display: flex;
    width: 100%;
    font-size: $line-font-size;
    color: black;
}

.dropzone {
    border: 1px solid #bbb;
    box-sizing: border-box;
}
