@import "../../../essentials/styles/variables";

.lineInput {
    border: 0;
    width: 100%;
    padding: 2px 0;
    outline: none;
    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    left: 3px;
    font-size: $line-font-size;
    color: black;
}

.line {
    padding: 2px 0;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: $line-font-size;
    color: black;
    position: relative;
}

.dropzone {
    border: 1px solid #bbb;
    box-sizing: border-box;
}
