@import "../../../essentials/styles/variables";

.section {
    width: 100%;
    border: 1px solid $border-color;
    padding: $gutter-size;
    border-radius: 5px;
    box-sizing: border-box;
    background: $editor-background;

    position: relative;
    overflow: none;

    .label {
        position: absolute;
        top: -9px;

        .labelInput {
            font-size: 1.3em;
            font-weight: bold;
            border: none;
            outline: none;
            padding: 0 $gutter-size / 3;
            width: auto;
        }
    }

    .options {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        user-select: none;
        z-index: 10;

        .button {
            display: block;
            border: 1px solid $border-color;
            border-radius: 0 0 0 $border-radius;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 0;
            border-top: 0;
            background: $editor-background;

            &:not(:first-of-type) {
                border-radius: 0;
            }

            &:hover {
                background: darken($editor-background, $darken-amount);
            }
        }
    }
}
