@import "../../../essentials/styles/variables";

.sheet {
    width: 100%;
}

.sectionList {
    padding: 0;
    list-style: none;

    .sectionListItem {
        list-style: none;
        margin-bottom: $gutter-size * 1.5;
    }
}
