@import '../../resources/sass/variables.scss';

.headerBarTab {
    height: 100%;
    padding: 0 15px;
    color: $header-bar-color;
    background: $header-bar-tab-bg;
    display: flex;
    align-items: center;

    &:hover {
        background: $header-bar-tab-bg-hover;
    }

    &:active {
        background: $header-bar-tab-bg-active;
    }

    &.isSelectionDisabled {
        &:hover {
            background: $header-bar-tab-bg;
        }

        &.is-active,
        &:active {
            background: $header-bar-tab-bg;
        }
    }

    &.isEditable {
        padding: 0;
        flex-grow: 1;
        &:hover {
            background: $header-bar-tab-bg;
        }

        &.is-active,
        &:active {
            background: $header-bar-tab-bg;
        }

        input {
            background: $header-bar-tab-bg;
            border: none;
            color: $header-bar-color;
            font-size: $font-size + 2;

            outline: none;
            width: 100%;
            text-align: center;
        }
    }

    &.isFullWidth {
        flex-grow: 1;
        justify-content: center;
    }

    &.isActive {
        background: $header-bar-tab-bg-hover;
    }
}
