@import '../../resources/sass/variables.scss';

.topBarTab {
    background: $tab-bar-tab-bg;
    color: $tab-bar-color;
    display: flex;
    height: 100%;

    align-items: center;
    line-height: 0;
    letter-spacing: 1px;
    padding: 0 10px;
    text-align: center;

    .spinner {
        margin: 0 0 0 5px;
    }

    .closeIcon {
        color: $tab-bar-color;
        margin: 0 0 0 5px;

        &:hover {
            color: $tab-bar-color-active;
        }
    }

    &:hover {
        background: $tab-bar-tab-bg-hover;
    }

    &.isActive {
        background: $tab-bar-tab-bg-active;
        color: $tab-bar-color-active;
        font-weight: 600;
    }
}
