@import '../../essentials/styles/variables';

.formGroup {
    width: 100%;
    display: flex;

    .groupItem {
        flex: 1;

        button,
        input {
            border-radius: 0px;
            text-align: center;
            border-right: 0;
        }

        &:first-of-type {
            button,
            input {
                border-radius: $border-radius 0 0 $border-radius;
            }
        }

        &:last-of-type {
            button,
            input {
                border-radius: 0 $border-radius $border-radius 0;
                border-right: 1px solid $border-color;
            }
        }

        &:hover {
            button,
            input {
                border-color: $border-color-highlight;
            }
            & + .groupItem {
                button,
                input {
                    border-left: 1px solid $border-color-highlight;
                }
            }
        }
    }
}
