// Colors
$dark-gray: #222222;
$slate-gray: #555555;
$gray: #80787b;
$light-gray: #d7d7d7;
$tan: #ceb69f;
$orchid: #ac64c4;
$white: #ffffff;

// Tab bar
$tab-bar-bg: $dark-gray;
$tab-bar-tab-bg: $dark-gray;
$tab-bar-tab-bg-hover: lighten($dark-gray, 2);
$tab-bar-tab-bg-active: lighten($dark-gray, 4);
$tab-bar-color-active: $white;
$tab-bar-color: darken($white, 50);

$header-bar-bg: $tab-bar-tab-bg-active;
$header-bar-tab-bg: $tab-bar-tab-bg-active;
$header-bar-tab-bg-hover: darken($tab-bar-tab-bg-active, 10);
$header-bar-tab-bg-active: orchid;
$header-bar-color-active: $white;
$header-bar-color: $white;

$explorer-bg: $slate-gray;
$explorer-color: darken($white, 5);
$explorer-folder-bg-active: $orchid;
$explorer-item-bg: $slate-gray;
$explorer-item-bg-hover: lighten($slate-gray, 5);
$explorer-item-bg-selected: $orchid;

$properties-pane-border: $gray;

$color-primary: $orchid;

// Fonts
$font-family: "Roboto", sans-serif;
$font-size: 11px;

$font-size-labels: 13px;

// Pixel management
$window-padding: 15px;
$gutter-size: 15px;
$border-radius: 3px;

$control-padding: 8px;

// Color management
$body-color: $slate-gray;
$border-color: $light-gray;
$border-color-highlight: $orchid;

$editor-background: $white;

$darken-amount: 7;
