@import '../../../../resources/sass/variables';

.inputControl {
    box-sizing: border-box;
    width: 100%;
    padding: $gutter-size / 2 10px;
    border-radius: $border-radius;
    box-shadow: none;
    border: 1px solid $border-color;
    outline: none;

    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border-color: #c2c2c2;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
    }

    &:focus {
        border-color: #0595db;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    }
}
