@import '../../renderer/resources/sass/variables';

.button {
    all: unset;
    padding: $control-padding;
    border: 1px solid $border-color;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: $border-radius;
    font-size: 11px;

    &:hover {
        border-color: $color-primary;
    }

    &:active {
        color: $color-primary;
    }
}

// .button {
//     display: inline-flex;
//     align-items: stretch;
//     flex-basis: 0;
//     flex-direction: column;
//     flex-grow: 1;
//     justify-content: center;
//     cursor: pointer;

//     .button {
//         display: inline-flex;
//         align-items: center;
//         flex-grow: 1;
//         justify-content: center;
//         padding: 8px;
//         border: 1px solid $border-color;
//         border-right: 0;
//     }

//     &:first-child .button {
//         border-radius: $border-radius 0 0 $border-radius;
//     }

//     &:last-child .button {
//         border-right: 1px solid $border-color;
//         border-radius: 0 $border-radius $border-radius 0;
//     }

// &:hover {
//     .button {
//         border-color: $color-primary;
//     }

//         & + .item .button {
//             border-left-color: $color-primary;
//         }
//     }

//     &.selected {
//         .button {
//             border-color: $color-primary;
//             color: $color-primary;
//         }

//         & + .item .button {
//             border-left-color: $color-primary;
//         }
//     }
// }

// .icon {
//     // font-size: 21px;

//     .selected & {
//         color: $color-primary;
//     }
// }

// .label {
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     font-size: 11px;

//     .button + & {
//         align-self: center;
//         margin-top: 4px;
//     }
// }

// .disabled {
//     pointer-events: none;
//     opacity: 0.5;
// }
