@import '../../essentials/styles/variables';

.headerBar {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;

    background: $header-bar-bg;
    -webkit-user-select: none;

    color: $header-bar-color;

    .headerBarGroup {
        display: flex;
        flex-direction: row;
        &.isLeft {
            margin-right: auto;
        }

        &.isCenter {
            margin: 0 auto;
        }

        &.isRight {
            margin-left: auto;
        }
    }
}
