@import "../../../essentials/styles/variables";

.fileExplorer {
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    background: $explorer-bg;
    user-select: none;
    display: flex;
    flex-direction: column;

    .fileServices {
        flex: 1;
        overflow-y: scroll;
    }
}
