@import "../../../../essentials/styles/variables";

.windowButton {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-sizing: border-box;

    border: 1px solid $gray;
    margin: 0 4px;
}
