@import "../../../../essentials/styles/variables";

.windowButtonsContainer {
    display: flex;

    // width: 80px;
    padding: 0 $window-padding;

    &:hover .windowButton {
        &.closeType {
            background: #fe5f57;
        }

        &.minimizeType {
            background: #febc2e;
        }

        &.fullscreenType {
            background: #26c940;
        }

        &.disabled {
            background: none !important;
        }
    }
}
